{% extends 'base.html' %}

{% block main %}
<div class="pagetitle">
    <h1>Expenses</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/expenseRecords">Expenses</a></li>
    </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Expenses</h5>

        <!-- Table with hoverable rows -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Savings</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for row in expenses %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ row["EXPENSENAME"] }}</td>
                <td>{{ row["DATE"]+"/"+row["MONTH"]+"/"+row["YEAR"] }}</td>
                <td>{{ row["DESCRIPTION"] }}</td>
                <td>{{ row["SAVINGSID"] }}</td>
                <td>{{ row["AMOUNT"] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Table with hoverable rows -->
      </div>
  </div>
</section>

{% endblock %} 