{% extends 'base.html' %}

{% block main %}
     <div class="pagetitle">
          <h1>Reminders</h1><!--Change Here-->
          <nav>
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item"><a href="reminders">reminders</a></li><!--Change Here-->
               </ol>
          </nav>
     </div><!-- End Page Title -->
     <section class="section">
          <div class="col-md-2">
               <!-- Add Expense Modal -->
               <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addExpenseModal">
                 Add Reminders
               </button>
               <div class="modal fade " id="addExpenseModal" tabindex="-1">
                 <div class="modal-dialog modal-lg">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title">Add Reminders</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                       <!-- Multi Columns Form -->
                       <form class="row g-3" action="/addExpense" method="post" onclick="return ValidateExpenseForm()">
                         <div class="col-md-12 form_group">
                           <label for="expensename" class="form-label">Reminder Name</label>
                           <input type="text" class="form-control" id="expensename" name="expensename" onkeyup="validateExpName()">
                           <div id="expensename-error"></div>
                         </div>
                         <div class="col-md-6 form_group">
                           <label for="expensedate" class="form-label">Set Date</label>
                           <input type="date" class="form-control" id="expensedate" name="expensedate">
                    
                         </div>
                         <!-- recurr dropdown will come here  -->
                         <div class="col-12 form_group">
                           <label for="expenseDescription" class="form-label">Description</label>
                           <textarea class="form-control" id="expenseDescription" name="expensedescription" placeholder="write expense split up...."></textarea>
                         </div>
                         <div class="col-md-6 form_group">
                           <label for="savings" class="form-label">Savings</label>
                           <select id="savings" class="form-select" name="savings" onkeyup="validateSavingType()">
                              <option value="Only Once" label="Only Once">Only Once</option>
                              <option value="Daily" label="Daily">Daily</option>
                              <option value="Weekly" label="Weekly">Weekly</option>
                              <option value="Monthly" label="Monthly">Monthly</option>
                              <option value="Yearly" label="Yearly">Yearly</option>
                           </select>
                           <div id="saving-error"></div>
                         </div>
                         <!-- <div class="col-md-6 form_group">
                           <label for="expenseAmount" class="form-label">Amount Spent</label>
                           <input type="number" class="form-control" id="expenseAmount" name="expenseamount" onkeyup="validateAmount() "
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                           <div id="amount-error"></div>
                         </div> -->
                         <div class="text-center">
                           <button type="submit" class="btn btn-primary">Add Reminder</button>
                           <button type="reset" class="btn btn-secondary">Reset</button>
                         </div>
                       </form><!-- End Multi Columns Form -->
                     </div>
                     <div class="modal-footer">
                     </div>
                   </div>
                 </div>
               </div><!-- End Add Expense Modal-->

     </section>
{% endblock %} 